<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.gov.northampton.droid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
		<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
		<uses-permission android:name="android.permission.CAMERA" />
		<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		<uses-feature android:name="android.hardware.camera" android:required="false" />
		
    <application
        android:icon="@drawable/northampton_crest"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.Contact"></activity>
        <activity android:name=".fragments.Contact2"></activity>
        <activity android:name=".fragments.Contact3"></activity>
        <activity android:name=".fragments.ContactMessage"></activity>
        <activity android:name=".fragments.ContactConfirmation"></activity>
        <activity android:name=".fragments.Settings"></activity>
        <activity android:name=".lib.CustomWebViewActivity"></activity>
        <activity android:name=".fragments.ReportLocation" android:label="Location"></activity>
        <activity android:name=".fragments.ReportSubmitMenu"></activity>
        <activity android:name=".fragments.ReportImageFullScreen"></activity>
        <activity android:name=".fragments.ReportConfirmation"></activity>
        <activity android:name=".fragments.FindBinCollectionPropertyList"></activity>
        <activity android:name=".fragments.FindPostCode"></activity>
        <activity android:name=".fragments.FindBinCollectionResult"></activity>
    </application>

</manifest>